<!--
<div #detailsContainer class="offre-details">
  <button class="btn-danger" >Fermer</button>
  <h2>Détails de l'offre de recrutement</h2>

  <h3>1. NIVEAUX DE QUALIFICATION</h3>
  <p>Les candidats doivent être titulaires au minimum d’un Master II (ou d’un diplôme jugé équivalent) dans l’un des champs disciplinaires indiqués ci-dessus. Un niveau de diplôme inférieur peut être accepté lorsque le candidat est un professionnel qui jouit d’une expérience significative (au moins 5 ans de pratique professionnelle). Dans ce cas, le candidat devra fournir, en complément de son dossier de candidature, tout document pouvant attester de la qualité de son expérience professionnelle.</p>

  <h3>2. CATEGORIES & CHARGES STATUTAIRES</h3>
  <p>Il est institué trois catégories de tuteurs, et pour chacune de ces catégories, les critères d’éligibilité ainsi que les charges statutaires annuelles sont les suivantes :</p>
  <p>Les modalités complémentaires d’exercice des activités tutorales sont indiquées dans la Charte du tutorat.</p>

  <h4>CATÉGORIES STATUTAIRES</h4>
  <ul>
    <li><strong>Catégorie 1 : Équivalent Temps Plein (ETP)</strong></li>
    <li><strong>Catégorie 2 : 50% ETP</strong></li>
    <li><strong>Catégorie 3 : 33% ETP</strong></li>
  </ul>

  <h4>Critères d’éligibilité</h4>
  <ul>
    <li><strong>Catégorie 1 :</strong> Etre disponible à plein temps pour exercer à l’UNCHK (catégorie qui est incompatible avec toute autre activité à plein temps ou à temps partiel)</li>
    <li><strong>Catégorie 2 :</strong> Ne pas exercer d’activité professionnelle à temps plein</li>
    <li><strong>Catégorie 3 :</strong> Éligible à tous (y compris les professionnels exerçant une activité à plein temps)</li>
  </ul>

  <h4>Tutorat (synchrone et asynchrone) / Volume horaire annuel</h4>
  <ul>
    <li><strong>Catégorie 1 :</strong> 240h</li>
    <li><strong>Catégorie 2 :</strong> 240h</li>
    <li><strong>Catégorie 3 :</strong> 160h</li>
  </ul>

  <h4>Corrections</h4>
  <ul>
    <li><strong>Catégorie 1 :</strong> 1200 copies (an)</li>
    <li><strong>Catégorie 2 :</strong> 1200 copies (an)</li>
    <li><strong>Catégorie 3 :</strong> 800 copies (an)</li>
  </ul>

  <h4>Surveillance</h4>
  <ul>
    <li><strong>Catégorie 1 :</strong> 24h (an)</li>
    <li><strong>Catégorie 2 :</strong> 24h (an)</li>
    <li><strong>Catégorie 3 :</strong> 16h (an)</li>
  </ul>

  <h4>Appui pédagogique (accompagnement des Pôles)</h4>
  <ul>
    <li><strong>Catégorie 1 :</strong> Appui pédagogique (présence à temps plein à UNCHK)</li>
    <li><strong>Catégorie 2 :</strong> Pas d’appui pédagogique</li>
    <li><strong>Catégorie 3 :</strong> Pas d’appui pédagogique</li>
  </ul>

  <h4>Rémunérations mensuelles nettes</h4>
  <ul>
    <li><strong>Catégorie 1 :</strong> 302.500 F CFA</li>
    <li><strong>Catégorie 2 :</strong> 151.250 F CFA</li>
    <li><strong>Catégorie 3 :</strong> 100.833 F CFA</li>
  </ul>

  <h3>3. DATES DE DÉBUT ET DE FIN DE RECRUTEMENT, ET MODALITÉS DE RENOUVELLEMENT</h3>
  <p>Le recrutement des tuteurs prend effet à compter du 1er avril 2024, et prend fin le 31 mars 2025. En cas de recrutement en cours de mois, la première rémunération mensuelle sera déterminée au prorata des jours tutorés dans le mois. Le contrat de tutorat est renouvelable au maximum trois fois. Le renouvellement du contrat de tuteur est établi dans les mêmes conditions que leur recrutement. En cas de non-respect par le tuteur de ses obligations pédagogiques et administratives, l’UN-CHK se réserve le droit de mettre un terme à la collaboration, conformément aux modalités et aux procédures définies à cet effet par la Charte du tutorat.</p>

  <h3>4. MODALITES PARTICULIERES APPLICABLES AUX CONTRATS DE TUTORAT</h3>
  <p>Tout tuteur recruté par l’UN-CHK sera mis à la disposition d’un des pôles (STN, SEJA, LSHE, PIED) en fonction de son champ disciplinaire et/ou de sa charge statutaire. Chaque tuteur recruté sera aussi rattaché administrativement et/ou pédagogiquement à un des espaces numériques ouverts (ENO) de l’UN-CHK. Les charges liées à la surveillance des examens seront notamment exercées dans cet ENO de rattachement. Les modalités particulières afférentes au rattachement des tuteurs sont définies par la Charte du tutorat.</p>

  <h3>5. CONDITIONS DE DEPOT DES DOSSIERS DE CANDIDATURE</h3>
  <p>Les dossiers de candidature doivent être soumis à compter du 01 février 2025 jusqu’au 30 mars 2025 (à 23h59). Les dépôts de dossiers de candidature se font exclusivement en ligne, via la plateforme dédiée à cet effet, <a href="https://recrutement.unchk.sn">https://recrutement.unchk.sn</a>. Aucun dossier physique ne sera accepté.</p>
  <p>Les dossiers de candidature doivent comprendre les documents suivants :</p>
  <ul>
    <li>un CV</li>
    <li>une lettre de motivation</li>
    <li>une photocopie des diplômes (master ou diplôme équivalent, thèse, etc.)</li>
    <li>une photocopie de l’attestation d’inscription en thèse et/ou de dépôt de la thèse (pour les doctorants)</li>
    <li>tout document, au besoin, attestant de l’expérience professionnelle et/ou en enseignement à distance du candidat (attestations de services, contrats de travail, lettres de référence, etc.)</li>
    <li>pour les candidats postulant pour les catégories 1 et 2, une attestation sur l’honneur par laquelle ils déclarent ne pas exercer (hors UN-CHK) d’activité professionnelle à plein temps ou à mi-temps.</li>
  </ul>
</div>



<div class="container mt-4">
  <div class="card shadow p-4">
    <h3 class="fw-bold text-primary">Recrutement de personnels d’enseignement et de recherche</h3>

    <h4 class="mt-3"><strong>Titre du poste :</strong> {{ offre?.titre }}</h4>
    <p><em><strong>Champ disciplinaire :</strong> {{ offre?.champDisciplinaire }} | <strong>Pôle :</strong> {{ offre?.pole }}</em></p>

    <h5 class="mt-3"><strong>Niveau requis :</strong></h5>
    <p>{{ offre?.niveauRequis }}</p>

    <h5 class="mt-3"><strong>Expérience(s) requise(s) :</strong></h5>
    <ul>
      <li *ngFor="let exp of offre?.experiences">{{ exp }}</li>
    </ul>

    <h5 class="mt-3"><strong>Document(s) requis :</strong></h5>
    <ul>
      <li *ngFor="let doc of offre?.documentsRequis">{{ doc }}</li>
    </ul>

    <h5 class="mt-3"><strong>Description :</strong></h5>
    <p>{{ offre?.description }}</p>

    <h5 class="mt-3"><strong>Profil :</strong></h5>
    <p>{{ offre?.profil }}</p>

    <a class="btn btn-primary mt-3" [routerLink]="['/postuler', offreId]">Postuler</a>
    <a class="btn btn-secondary mt-3 ms-2" routerLink="/postes">Retour aux postes</a>
  </div>
</div> -->


