<body>
<div id="form">
  <fieldset>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <h3>Inscription</h3>
      <label>Nom <span>*</span></label>
      <input id="name" formControlName="name" placeholder="Faye"/>
      <div *ngIf="registrationForm.get('name') && registrationForm.get('name')">
        Le nom est requis.
      </div>
      <br><br>
      <label>Prénom <span>*</span></label>
      <input id="lastname" formControlName="lastname" placeholder="Bassirou"/>
      <div *ngIf="registrationForm.get('lastname') && registrationForm.get('lastname')">
        Le prenom est requis.
      </div>
      <br><br>
      <label>Adresse Email <span>*</span></label>
      <input id="email" formControlName="email" placeholder="bassirou.faye2@unchk.edu.sn"/>
      <div *ngIf="registrationForm.get('email') && registrationForm.get('email')">
        Entrez une adresse email valide.
      </div>
      <br><br>
      <label>Mot de passe <span>*</span></label>
      <input id="password" type="password" formControlName="password" placeholder="********"/>
      <div *ngIf="registrationForm.get('password') && registrationForm.get('password')">
        Le mot de passe doit contenir au moins 6 caractères.
      </div>
      <br><br>
      <button type="submit" [disabled]="registrationForm.invalid">S'inscrire</button>
    </form>
  </fieldset>
</div>
</body>

