<!-- MENU NAVIGATION -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqBIm_QuG3bhgOgxQ0aKWm5kMCJPP0bB6LVQ&s"
           alt="Logo" width="200" height="70" class="d-inline-block align-top rounded" style="border-radius: 15px;">
    </a>

    <!-- Bouton du menu en mode mobile -->
    <button class="navbar-toggler text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon text-primary"></span>
    </button>

    <!-- Liens de navigation -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto"> <!-- ms-auto pousse les liens à droite -->
        <li class="nav-item">
          <a class="nav-link text-primary" routerLink="/accueil">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" routerLink="/candidature">Candidature</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" routerLink="/dossier">Dossier</a>
        </li>
      </ul>

      <!-- Bouton Se Déconnecter -->
      <button class="btn btn-danger ms-3" routerLink="/accueil">Se Déconnecter</button>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <h4 class="text-primary">Liste de mes candidatures</h4>
  <div class="card p-3 shadow-sm">
    <div class="card-body">
      <span class="badge bg-success text-white">Recrutement de personnel d'enseignement et de recherche</span>
      <h5 class="mt-3"><strong>Intitulé du poste:</strong> Enseignant chercheur en Géographie</h5>
      <p><strong>Date de clôture:</strong> <span class="badge bg-dark">25/04/2023</span></p>
      <div class="d-flex justify-content-between">
        <button class="btn btn-outline-primary">Etat</button>
        <button class="btn btn-outline-warning border-2" routerLink="/postuler">Modifier ma candidature</button>
      </div>
    </div>
  </div>
</div>

