@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Supprimer la marge et le padding par défaut du body et html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    top: 0; /* Positionner en haut */
    z-index: 1000; /* Assurer que le menu reste au-dessus des autres éléments */
    box-shadow: 0 4px 2px -2px rgb(241, 239, 239); /* Ajouter une ombre sous le menu */
    box-sizing: border-box; /* Inclure le padding dans la largeur */
}

.menu {
    /* display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
    width: 100%; */
   /* box-sizing: border-box; /* Inclure le padding dans la largeur */
   /* margin-bottom: 10px !important; /* Supprimer les marges */
    /*box-shadow: 0 4px 2px -2px rgb(210, 210, 210); /* Ajouter une ombre sous le menu */
    /*position: fixed; /* Fixer le menu en haut */
   /* top: 0; /* Positionner en haut */
    /*z-index: 1000; /* Assurer que le menu reste au-dessus des autres éléments */
}


ul li a.active {
    color: green !important;
}

.btn a {
    color: white;
    text-decoration: none;
}

ul li a{
    text-decoration: none;
  }

ul li a:hover{
    cursor: pointer;
    color: green !important;
}
  
ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16pX;
}
  