<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recrutement de Tuteurs</title>
</head>
<body>
        <div class="menu">
          <button routerLink="/accueil" routerLinkActive="active">Accueil</button>
          <button routerLink="/mes-candidatures" routerLinkActive="active">Mes Candidatures</button>
          <button routerLink="/mon-dossier" routerLinkActive="active">Mon Dossier</button>
          <button><a href="/logout">Se Déconnecter</a></button>
        </div>
        <router-outlet></router-outlet>
</body>
</html>