<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>
<body>
    <!-- MENU NAVIGATION -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="images/unchk.png"
           alt="Logo" width="80" height="80" class="d-inline-block align-top rounded" style="border-radius: 15px;">
    </a>

    <!-- Bouton du menu en mode mobile -->
    <button class="navbar-toggler text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon text-primary"></span>
    </button>

    <!-- Liens de navigation -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="ms-auto">
        <!-- Logo -->
        <a class="navbar-brand fw-bold fs-4 text-uppercase" href="#">
          Université Numérique <br> Cheikh Hamidou Kane
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow p-4">
        <h2 class="text-center mb-4">CONEXION</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

         
        <!-- Nom d'utilisateur -->
        <div class="mb-3">
          <label for="username" class="form-label">Nom d'utilisateur *</label>
          <input id="username" type="text" class="form-control" formControlName="username" placeholder="Entrer votre nom d'utilisateur">
          <small class="text-danger" *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched">
            Ce champ est obligatoire.
          </small>
        </div>

        <!-- Mot de passe -->
        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe *</label>
          <input id="password" type="password" class="form-control" formControlName="password" placeholder="Entrer votre mot de passe">
          <small class="text-danger" *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
            Ce champ est obligatoire.
          </small>
        </div>

        <!-- Bouton Se connecter -->
        <div class="d-grid">
          <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">Se connecter</button>
        </div>
      </form>

          <!-- Lien de mot de passe oublié -->
          <div class="mt-3 text-center">
            <a routerLink="/mot-de-passe-oublie" class="text-danger">Mot de passe oublié ?</a>
          </div>
          
        <!-- Lien d'inscription -->
        <div class="mt-3 text-center">
          <p>Vous n'avez pas de compte ?
            <a routerLink="/inscription" class="text-success">S'inscrire ici</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
      
</body>
</html>