<div class="popup-container">
    <div class="popup-content">
      <div class="offre-popup">
        <button mat-button class="close-button" (click)="closeDialog()">Fermer</button>

           
      <h2 class="title-container">Poste : {{ data.titre }}</h2>
      <p class="date-container">Date de clôture : {{ data.dateCloture }}</p>
      <div class="button-container">
        <!-- <button class="buttonA" mat-button (click)="showDetails()">Voir les détails</button> -->
        <button class="buttonA" mat-button (click)="postuler()">Postuler</button>
      </div>
      
      <div *ngIf="detailsVisible">
        <p>{{ data.details }}</p>
      </div>
      
      <div *ngIf="formVisible">
        <!-- Formulaire de candidature -->
        <form>
            <label for="name">Nom :</label>
            <input id="name" name="name" type="text">
            
            <label for="email">Email :</label>
            <input id="email" name="email" type="email">
            
            <label for="phone">Téléphone :</label>
            <input id="phone" name="phone" type="tel">
            
            <label for="cv">CV :</label>
            <input id="cv" name="cv" type="file">
            
            <label for="coverLetter">Lettre de motivation :</label>
            <textarea id="coverLetter" name="coverLetter"></textarea>
            
            <label for="presentation">Brève présentation :</label>
            <textarea id="presentation" name="presentation"></textarea>

            <label for="diplomeNiveau">Niveau de diplôme :</label>
            <select id="diplomeNiveau" name="diplomeNiveau">
              <option value="baccalaureat">Baccalauréat</option>
              <option value="bfem">BFEM</option>
              <option value="licence">Licence</option>
              <option value="master">Master</option>
              <!-- Ajoutez d'autres niveaux de diplôme ici -->
            </select>

            <label for="diplome">Diplôme :</label>
            <input id="diplome" name="diplome" type="file">

          <button class="buttonE" type="submit">Envoyer</button>
        </form>
      </div>
    </div>
  </div>