.offre-popup {
  padding: 20px;
  max-height: 80vh; /* Hauteur maximale du popup */
  overflow-y: auto; /* Activer le défilement vertical */
  position: relative;
}

.close-button {
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.close-button:hover {
  background-color: #c0392b;
}

.title-container {
    color: green;
    padding-top: 20px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    max-height: 90%;
    overflow-y: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .buttonC {
    position: absolute;
    /* margin: 10px auto; */
    /* top: 10px; */
    width: 30px;
    height: 30px;
    color: white;
    background-color: red;
    border-radius: 50%;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    align-self: flex-end;
  }

  .buttonC:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }

.buttonA {
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    display: block;
    background-color: #007bff;
    color: white !important;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.buttonA:hover {
   background-color: #218838;
}


.buttonE {
    padding: 10px 20px; 
    font-size: 16px;
    border: none;
    border-radius: 5px;
    display: block;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
  .date-container {
    text-align: center;
    color: red;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin-bottom: 5px;
  }
  
  form input, form textarea, form select {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  form textarea {
    resize: vertical;
  }
  
  form button {
    align-self: flex-end;
    background-color: #28a745;
  }
  
  form button:hover {
    background-color: #218838;
  }

  .submit-button:hover {
    background-color: #218838;
  }
  
  .postuler-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #28a745;
    color: white;
  }
  
  .postuler-button:hover {
    background-color: #218838;
  }